<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U0047U0331</key>
    <string>U_0047U_0331.glif</string>
    <key>U0050U0331</key>
    <string>U_0050U_0331.glif</string>
    <key>U0067U0331</key>
    <string>U_0067U_0331.glif</string>
    <key>U0070U0331</key>
    <string>U_0070U_0331.glif</string>
    <key>U02c0</key>
    <string>U_02c0.glif</string>
    <key>U02c1</key>
    <string>U_02c1.glif</string>
    <key>U02d2</key>
    <string>U_02d2.glif</string>
    <key>U02d3</key>
    <string>U_02d3.glif</string>
    <key>U0303</key>
    <string>U_0303.glif</string>
    <key>U0304</key>
    <string>U_0304.glif</string>
    <key>U0307</key>
    <string>U_0307.glif</string>
    <key>U0308</key>
    <string>U_0308.glif</string>
    <key>U030a</key>
    <string>U_030a.glif</string>
    <key>U0323</key>
    <string>U_0323.glif</string>
    <key>U0324</key>
    <string>U_0324.glif</string>
    <key>U0325</key>
    <string>U_0325.glif</string>
    <key>U032d</key>
    <string>U_032d.glif</string>
    <key>U032e</key>
    <string>U_032e.glif</string>
    <key>U0330</key>
    <string>U_0330.glif</string>
    <key>U0331</key>
    <string>U_0331.glif</string>
    <key>U060c</key>
    <string>U_060c.glif</string>
    <key>U061b</key>
    <string>U_061b.glif</string>
    <key>U061f</key>
    <string>U_061f.glif</string>
    <key>U0621</key>
    <string>U_0621.glif</string>
    <key>U0640</key>
    <string>U_0640.glif</string>
    <key>U0640Half</key>
    <string>U_0640H_alf.glif</string>
    <key>U0640Quart</key>
    <string>U_0640Q_uart.glif</string>
    <key>U0640ThreeQuart</key>
    <string>U_0640T_hreeQ_uart.glif</string>
    <key>U064b</key>
    <string>U_064b.glif</string>
    <key>U064c</key>
    <string>U_064c.glif</string>
    <key>U064d</key>
    <string>U_064d.glif</string>
    <key>U064e</key>
    <string>U_064e.glif</string>
    <key>U064f</key>
    <string>U_064f.glif</string>
    <key>U0650</key>
    <string>U_0650.glif</string>
    <key>U0651</key>
    <string>U_0651.glif</string>
    <key>U0652</key>
    <string>U_0652.glif</string>
    <key>U0653</key>
    <string>U_0653.glif</string>
    <key>U0654</key>
    <string>U_0654.glif</string>
    <key>U0655</key>
    <string>U_0655.glif</string>
    <key>U0656</key>
    <string>U_0656.glif</string>
    <key>U0660</key>
    <string>U_0660.glif</string>
    <key>U0661</key>
    <string>U_0661.glif</string>
    <key>U0662</key>
    <string>U_0662.glif</string>
    <key>U0663</key>
    <string>U_0663.glif</string>
    <key>U0664</key>
    <string>U_0664.glif</string>
    <key>U0665</key>
    <string>U_0665.glif</string>
    <key>U0666</key>
    <string>U_0666.glif</string>
    <key>U0667</key>
    <string>U_0667.glif</string>
    <key>U0668</key>
    <string>U_0668.glif</string>
    <key>U0669</key>
    <string>U_0669.glif</string>
    <key>U0670</key>
    <string>U_0670.glif</string>
    <key>U0700</key>
    <string>U_0700.glif</string>
    <key>U0701</key>
    <string>U_0701.glif</string>
    <key>U0702</key>
    <string>U_0702.glif</string>
    <key>U0703</key>
    <string>U_0703.glif</string>
    <key>U0704</key>
    <string>U_0704.glif</string>
    <key>U0705</key>
    <string>U_0705.glif</string>
    <key>U0706</key>
    <string>U_0706.glif</string>
    <key>U0707</key>
    <string>U_0707.glif</string>
    <key>U0708</key>
    <string>U_0708.glif</string>
    <key>U0709</key>
    <string>U_0709.glif</string>
    <key>U070a</key>
    <string>U_070a.glif</string>
    <key>U070b</key>
    <string>U_070b.glif</string>
    <key>U070c</key>
    <string>U_070c.glif</string>
    <key>U070d</key>
    <string>U_070d.glif</string>
    <key>U070f</key>
    <string>U_070f.glif</string>
    <key>U0710</key>
    <string>U_0710.glif</string>
    <key>U0710Fina1</key>
    <string>U_0710F_ina1.glif</string>
    <key>U0710Fina2</key>
    <string>U_0710F_ina2.glif</string>
    <key>U0710Fina3</key>
    <string>U_0710F_ina3.glif</string>
    <key>U0710Medi2</key>
    <string>U_0710M_edi2.glif</string>
    <key>U0711</key>
    <string>U_0711.glif</string>
    <key>U0712</key>
    <string>U_0712.glif</string>
    <key>U0712Fina</key>
    <string>U_0712F_ina.glif</string>
    <key>U0712Init</key>
    <string>U_0712I_nit.glif</string>
    <key>U0712Medi</key>
    <string>U_0712M_edi.glif</string>
    <key>U0713</key>
    <string>U_0713.glif</string>
    <key>U0713Fina</key>
    <string>U_0713F_ina.glif</string>
    <key>U0713Init</key>
    <string>U_0713I_nit.glif</string>
    <key>U0713Medi</key>
    <string>U_0713M_edi.glif</string>
    <key>U0714</key>
    <string>U_0714.glif</string>
    <key>U0714Fina</key>
    <string>U_0714F_ina.glif</string>
    <key>U0714Init</key>
    <string>U_0714I_nit.glif</string>
    <key>U0714Medi</key>
    <string>U_0714M_edi.glif</string>
    <key>U0715</key>
    <string>U_0715.glif</string>
    <key>U0715Fina</key>
    <string>U_0715F_ina.glif</string>
    <key>U0716</key>
    <string>U_0716.glif</string>
    <key>U0716Fina</key>
    <string>U_0716F_ina.glif</string>
    <key>U0717</key>
    <string>U_0717.glif</string>
    <key>U0717Fina</key>
    <string>U_0717F_ina.glif</string>
    <key>U0718</key>
    <string>U_0718.glif</string>
    <key>U0718Fina</key>
    <string>U_0718F_ina.glif</string>
    <key>U0719</key>
    <string>U_0719.glif</string>
    <key>U0719Fina</key>
    <string>U_0719F_ina.glif</string>
    <key>U071a</key>
    <string>U_071a.glif</string>
    <key>U071aFina</key>
    <string>U_071aF_ina.glif</string>
    <key>U071aInit</key>
    <string>U_071aI_nit.glif</string>
    <key>U071aMedi</key>
    <string>U_071aM_edi.glif</string>
    <key>U071b</key>
    <string>U_071b.glif</string>
    <key>U071bFina</key>
    <string>U_071bF_ina.glif</string>
    <key>U071bInit</key>
    <string>U_071bI_nit.glif</string>
    <key>U071bMedi</key>
    <string>U_071bM_edi.glif</string>
    <key>U071c</key>
    <string>U_071c.glif</string>
    <key>U071cFina</key>
    <string>U_071cF_ina.glif</string>
    <key>U071cInit</key>
    <string>U_071cI_nit.glif</string>
    <key>U071cMedi</key>
    <string>U_071cM_edi.glif</string>
    <key>U071d</key>
    <string>U_071d.glif</string>
    <key>U071dFina</key>
    <string>U_071dF_ina.glif</string>
    <key>U071dInit</key>
    <string>U_071dI_nit.glif</string>
    <key>U071dIsol2</key>
    <string>U_071dI_sol2.glif</string>
    <key>U071dMedi</key>
    <string>U_071dM_edi.glif</string>
    <key>U071e</key>
    <string>U_071e.glif</string>
    <key>U071eFina</key>
    <string>U_071eF_ina.glif</string>
    <key>U071f</key>
    <string>U_071f.glif</string>
    <key>U071fFina</key>
    <string>U_071fF_ina.glif</string>
    <key>U071fInit</key>
    <string>U_071fI_nit.glif</string>
    <key>U071fMedi</key>
    <string>U_071fM_edi.glif</string>
    <key>U0720</key>
    <string>U_0720.glif</string>
    <key>U0720Fina</key>
    <string>U_0720F_ina.glif</string>
    <key>U0720Init</key>
    <string>U_0720I_nit.glif</string>
    <key>U0720Medi</key>
    <string>U_0720M_edi.glif</string>
    <key>U0720U0710Fina</key>
    <string>U_0720U_0710F_ina.glif</string>
    <key>U0720U0710Isol</key>
    <string>U_0720U_0710I_sol.glif</string>
    <key>U0721</key>
    <string>U_0721.glif</string>
    <key>U0721Fina</key>
    <string>U_0721F_ina.glif</string>
    <key>U0721Init</key>
    <string>U_0721I_nit.glif</string>
    <key>U0721Medi</key>
    <string>U_0721M_edi.glif</string>
    <key>U0722</key>
    <string>U_0722.glif</string>
    <key>U0722Fina</key>
    <string>U_0722F_ina.glif</string>
    <key>U0722Init</key>
    <string>U_0722I_nit.glif</string>
    <key>U0722Isol2</key>
    <string>U_0722I_sol2.glif</string>
    <key>U0722Medi</key>
    <string>U_0722M_edi.glif</string>
    <key>U0723</key>
    <string>U_0723.glif</string>
    <key>U0723Fina</key>
    <string>U_0723F_ina.glif</string>
    <key>U0723Init</key>
    <string>U_0723I_nit.glif</string>
    <key>U0723Medi</key>
    <string>U_0723M_edi.glif</string>
    <key>U0724</key>
    <string>U_0724.glif</string>
    <key>U0724Fina</key>
    <string>U_0724F_ina.glif</string>
    <key>U0724Init</key>
    <string>U_0724I_nit.glif</string>
    <key>U0724Medi</key>
    <string>U_0724M_edi.glif</string>
    <key>U0725</key>
    <string>U_0725.glif</string>
    <key>U0725Fina</key>
    <string>U_0725F_ina.glif</string>
    <key>U0725Init</key>
    <string>U_0725I_nit.glif</string>
    <key>U0725Medi</key>
    <string>U_0725M_edi.glif</string>
    <key>U0726</key>
    <string>U_0726.glif</string>
    <key>U0726Fina</key>
    <string>U_0726F_ina.glif</string>
    <key>U0726Init</key>
    <string>U_0726I_nit.glif</string>
    <key>U0726Medi</key>
    <string>U_0726M_edi.glif</string>
    <key>U0727</key>
    <string>U_0727.glif</string>
    <key>U0727Fina</key>
    <string>U_0727F_ina.glif</string>
    <key>U0727Init</key>
    <string>U_0727I_nit.glif</string>
    <key>U0727Medi</key>
    <string>U_0727M_edi.glif</string>
    <key>U0728</key>
    <string>U_0728.glif</string>
    <key>U0728Fina</key>
    <string>U_0728F_ina.glif</string>
    <key>U0728U0722Fina</key>
    <string>U_0728U_0722F_ina.glif</string>
    <key>U0728U0722Isol</key>
    <string>U_0728U_0722I_sol.glif</string>
    <key>U0729</key>
    <string>U_0729.glif</string>
    <key>U0729Fina</key>
    <string>U_0729F_ina.glif</string>
    <key>U0729Init</key>
    <string>U_0729I_nit.glif</string>
    <key>U0729Medi</key>
    <string>U_0729M_edi.glif</string>
    <key>U072a</key>
    <string>U_072a.glif</string>
    <key>U072aFina</key>
    <string>U_072aF_ina.glif</string>
    <key>U072aU0308Fina</key>
    <string>U_072aU_0308F_ina.glif</string>
    <key>U072aU0308Isol</key>
    <string>U_072aU_0308I_sol.glif</string>
    <key>U072b</key>
    <string>U_072b.glif</string>
    <key>U072bFina</key>
    <string>U_072bF_ina.glif</string>
    <key>U072bInit</key>
    <string>U_072bI_nit.glif</string>
    <key>U072bMedi</key>
    <string>U_072bM_edi.glif</string>
    <key>U072c</key>
    <string>U_072c.glif</string>
    <key>U072cFina</key>
    <string>U_072cF_ina.glif</string>
    <key>U072cU0710Fina</key>
    <string>U_072cU_0710F_ina.glif</string>
    <key>U072cU0710Isol</key>
    <string>U_072cU_0710I_sol.glif</string>
    <key>U0730</key>
    <string>U_0730.glif</string>
    <key>U0731</key>
    <string>U_0731.glif</string>
    <key>U0732</key>
    <string>U_0732.glif</string>
    <key>U0733</key>
    <string>U_0733.glif</string>
    <key>U0734</key>
    <string>U_0734.glif</string>
    <key>U0735</key>
    <string>U_0735.glif</string>
    <key>U0736</key>
    <string>U_0736.glif</string>
    <key>U0737</key>
    <string>U_0737.glif</string>
    <key>U0738</key>
    <string>U_0738.glif</string>
    <key>U0739</key>
    <string>U_0739.glif</string>
    <key>U073a</key>
    <string>U_073a.glif</string>
    <key>U073b</key>
    <string>U_073b.glif</string>
    <key>U073c</key>
    <string>U_073c.glif</string>
    <key>U073d</key>
    <string>U_073d.glif</string>
    <key>U073e</key>
    <string>U_073e.glif</string>
    <key>U073f</key>
    <string>U_073f.glif</string>
    <key>U0740</key>
    <string>U_0740.glif</string>
    <key>U0741</key>
    <string>U_0741.glif</string>
    <key>U0742</key>
    <string>U_0742.glif</string>
    <key>U0743</key>
    <string>U_0743.glif</string>
    <key>U0744</key>
    <string>U_0744.glif</string>
    <key>U0745</key>
    <string>U_0745.glif</string>
    <key>U0746</key>
    <string>U_0746.glif</string>
    <key>U0747</key>
    <string>U_0747.glif</string>
    <key>U0748</key>
    <string>U_0748.glif</string>
    <key>U0749</key>
    <string>U_0749.glif</string>
    <key>U074a</key>
    <string>U_074a.glif</string>
    <key>U1e06</key>
    <string>U_1e06.glif</string>
    <key>U1e07</key>
    <string>U_1e07.glif</string>
    <key>U1e0c</key>
    <string>U_1e0c.glif</string>
    <key>U1e0d</key>
    <string>U_1e0d.glif</string>
    <key>U1e0e</key>
    <string>U_1e0e.glif</string>
    <key>U1e0f</key>
    <string>U_1e0f.glif</string>
    <key>U1e24</key>
    <string>U_1e24.glif</string>
    <key>U1e25</key>
    <string>U_1e25.glif</string>
    <key>U1e34</key>
    <string>U_1e34.glif</string>
    <key>U1e35</key>
    <string>U_1e35.glif</string>
    <key>U1e62</key>
    <string>U_1e62.glif</string>
    <key>U1e63</key>
    <string>U_1e63.glif</string>
    <key>U1e6c</key>
    <string>U_1e6c.glif</string>
    <key>U1e6d</key>
    <string>U_1e6d.glif</string>
    <key>U1e6e</key>
    <string>U_1e6e.glif</string>
    <key>U1e6f</key>
    <string>U_1e6f.glif</string>
    <key>U1e92</key>
    <string>U_1e92.glif</string>
    <key>U1e93</key>
    <string>U_1e93.glif</string>
    <key>U200c</key>
    <string>U_200c.glif</string>
    <key>U200d</key>
    <string>U_200d.glif</string>
    <key>U200e</key>
    <string>U_200e.glif</string>
    <key>U200f</key>
    <string>U_200f.glif</string>
    <key>U25cc</key>
    <string>U_25cc.glif</string>
    <key>U2670</key>
    <string>U_2670.glif</string>
    <key>U2671</key>
    <string>U_2671.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletmath</key>
    <string>bulletmath.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>middot</key>
    <string>middot.glif</string>
    <key>mu1</key>
    <string>mu1.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>noName00212</key>
    <string>noN_ame00212.glif</string>
    <key>noName00433</key>
    <string>noN_ame00433.glif</string>
    <key>noName00434</key>
    <string>noN_ame00434.glif</string>
    <key>noName00435</key>
    <string>noN_ame00435.glif</string>
    <key>noName00436</key>
    <string>noN_ame00436.glif</string>
    <key>noName00437</key>
    <string>noN_ame00437.glif</string>
    <key>noName00438</key>
    <string>noN_ame00438.glif</string>
    <key>noName00439</key>
    <string>noN_ame00439.glif</string>
    <key>noName00440</key>
    <string>noN_ame00440.glif</string>
    <key>noName00441</key>
    <string>noN_ame00441.glif</string>
    <key>noName00442</key>
    <string>noN_ame00442.glif</string>
    <key>noName00443</key>
    <string>noN_ame00443.glif</string>
    <key>noName00444</key>
    <string>noN_ame00444.glif</string>
    <key>noName00445</key>
    <string>noN_ame00445.glif</string>
    <key>noName00446</key>
    <string>noN_ame00446.glif</string>
    <key>noName00447</key>
    <string>noN_ame00447.glif</string>
    <key>noName00448</key>
    <string>noN_ame00448.glif</string>
    <key>noName00449</key>
    <string>noN_ame00449.glif</string>
    <key>noName00450</key>
    <string>noN_ame00450.glif</string>
    <key>noName00451</key>
    <string>noN_ame00451.glif</string>
    <key>noName00452</key>
    <string>noN_ame00452.glif</string>
    <key>noName00453</key>
    <string>noN_ame00453.glif</string>
    <key>noName00454</key>
    <string>noN_ame00454.glif</string>
    <key>noName00455</key>
    <string>noN_ame00455.glif</string>
    <key>noName00456</key>
    <string>noN_ame00456.glif</string>
    <key>noName00457</key>
    <string>noN_ame00457.glif</string>
    <key>noName00458</key>
    <string>noN_ame00458.glif</string>
    <key>noName00459</key>
    <string>noN_ame00459.glif</string>
    <key>noName00460</key>
    <string>noN_ame00460.glif</string>
    <key>noName00461</key>
    <string>noN_ame00461.glif</string>
    <key>noName00462</key>
    <string>noN_ame00462.glif</string>
    <key>noName00463</key>
    <string>noN_ame00463.glif</string>
    <key>noName00464</key>
    <string>noN_ame00464.glif</string>
    <key>noName00465</key>
    <string>noN_ame00465.glif</string>
    <key>noName00466</key>
    <string>noN_ame00466.glif</string>
    <key>noName00467</key>
    <string>noN_ame00467.glif</string>
    <key>noName00468</key>
    <string>noN_ame00468.glif</string>
    <key>noName00469</key>
    <string>noN_ame00469.glif</string>
    <key>noName00470</key>
    <string>noN_ame00470.glif</string>
    <key>noName00471</key>
    <string>noN_ame00471.glif</string>
    <key>noName00472</key>
    <string>noN_ame00472.glif</string>
    <key>noName00473</key>
    <string>noN_ame00473.glif</string>
    <key>noName00474</key>
    <string>noN_ame00474.glif</string>
    <key>noName00475</key>
    <string>noN_ame00475.glif</string>
    <key>noName00476</key>
    <string>noN_ame00476.glif</string>
    <key>noName00477</key>
    <string>noN_ame00477.glif</string>
    <key>noName00478</key>
    <string>noN_ame00478.glif</string>
    <key>noName00479</key>
    <string>noN_ame00479.glif</string>
    <key>noName00480</key>
    <string>noN_ame00480.glif</string>
    <key>noName00481</key>
    <string>noN_ame00481.glif</string>
    <key>noName00482</key>
    <string>noN_ame00482.glif</string>
    <key>noName00483</key>
    <string>noN_ame00483.glif</string>
    <key>noName00484</key>
    <string>noN_ame00484.glif</string>
    <key>noName00485</key>
    <string>noN_ame00485.glif</string>
    <key>noName00486</key>
    <string>noN_ame00486.glif</string>
    <key>noName00487</key>
    <string>noN_ame00487.glif</string>
    <key>noName00488</key>
    <string>noN_ame00488.glif</string>
    <key>noName00489</key>
    <string>noN_ame00489.glif</string>
    <key>noName00490</key>
    <string>noN_ame00490.glif</string>
    <key>noName00491</key>
    <string>noN_ame00491.glif</string>
    <key>noName00492</key>
    <string>noN_ame00492.glif</string>
    <key>noName00493</key>
    <string>noN_ame00493.glif</string>
    <key>noName00494</key>
    <string>noN_ame00494.glif</string>
    <key>noName00495</key>
    <string>noN_ame00495.glif</string>
    <key>noName00496</key>
    <string>noN_ame00496.glif</string>
    <key>noName00497</key>
    <string>noN_ame00497.glif</string>
    <key>noName00498</key>
    <string>noN_ame00498.glif</string>
    <key>noName00499</key>
    <string>noN_ame00499.glif</string>
    <key>noName00500</key>
    <string>noN_ame00500.glif</string>
    <key>noName00501</key>
    <string>noN_ame00501.glif</string>
    <key>noName00502</key>
    <string>noN_ame00502.glif</string>
    <key>noName00503</key>
    <string>noN_ame00503.glif</string>
    <key>noName00504</key>
    <string>noN_ame00504.glif</string>
    <key>noName00505</key>
    <string>noN_ame00505.glif</string>
    <key>noName00506</key>
    <string>noN_ame00506.glif</string>
    <key>noName00507</key>
    <string>noN_ame00507.glif</string>
    <key>noName00508</key>
    <string>noN_ame00508.glif</string>
    <key>noName00509</key>
    <string>noN_ame00509.glif</string>
    <key>noName00510</key>
    <string>noN_ame00510.glif</string>
    <key>noName00511</key>
    <string>noN_ame00511.glif</string>
    <key>noName00512</key>
    <string>noN_ame00512.glif</string>
    <key>noName00513</key>
    <string>noN_ame00513.glif</string>
    <key>noName00514</key>
    <string>noN_ame00514.glif</string>
    <key>noName00515</key>
    <string>noN_ame00515.glif</string>
    <key>noName00516</key>
    <string>noN_ame00516.glif</string>
    <key>noName00517</key>
    <string>noN_ame00517.glif</string>
    <key>noName00518</key>
    <string>noN_ame00518.glif</string>
    <key>noName00519</key>
    <string>noN_ame00519.glif</string>
    <key>noName00520</key>
    <string>noN_ame00520.glif</string>
    <key>noName00521</key>
    <string>noN_ame00521.glif</string>
    <key>noName00522</key>
    <string>noN_ame00522.glif</string>
    <key>noName00523</key>
    <string>noN_ame00523.glif</string>
    <key>noName00524</key>
    <string>noN_ame00524.glif</string>
    <key>noName00525</key>
    <string>noN_ame00525.glif</string>
    <key>noName00526</key>
    <string>noN_ame00526.glif</string>
    <key>noName00527</key>
    <string>noN_ame00527.glif</string>
    <key>noName00528</key>
    <string>noN_ame00528.glif</string>
    <key>noName00529</key>
    <string>noN_ame00529.glif</string>
    <key>noName00530</key>
    <string>noN_ame00530.glif</string>
    <key>noName00531</key>
    <string>noN_ame00531.glif</string>
    <key>noName00532</key>
    <string>noN_ame00532.glif</string>
    <key>noName00533</key>
    <string>noN_ame00533.glif</string>
    <key>noName00534</key>
    <string>noN_ame00534.glif</string>
    <key>noName00535</key>
    <string>noN_ame00535.glif</string>
    <key>noName00536</key>
    <string>noN_ame00536.glif</string>
    <key>noName00537</key>
    <string>noN_ame00537.glif</string>
    <key>noName00538</key>
    <string>noN_ame00538.glif</string>
    <key>noName00539</key>
    <string>noN_ame00539.glif</string>
    <key>noName00540</key>
    <string>noN_ame00540.glif</string>
    <key>noName00541</key>
    <string>noN_ame00541.glif</string>
    <key>noName00542</key>
    <string>noN_ame00542.glif</string>
    <key>noName00543</key>
    <string>noN_ame00543.glif</string>
    <key>noName00544</key>
    <string>noN_ame00544.glif</string>
    <key>noName00545</key>
    <string>noN_ame00545.glif</string>
    <key>noName00546</key>
    <string>noN_ame00546.glif</string>
    <key>noName00547</key>
    <string>noN_ame00547.glif</string>
    <key>noName00548</key>
    <string>noN_ame00548.glif</string>
    <key>noName00549</key>
    <string>noN_ame00549.glif</string>
    <key>nonbreakingspace</key>
    <string>nonbreakingspace.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>overscore</key>
    <string>overscore.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
